{{#if (single_operator operators) }}
  {{#each operators}}
    <span>
      {{ jq_translate "operators" this.type }}
    </span>
  {{/each}}
{{/if}}
{{ optgroup_set "" }}
<select class="form-control {{#if (single_operator operators) }}hide{{/if}}" name="{{ rule.id }}_operator">
  {{#each operators }}
    {{#if (optgroup_different this.optgroup) }}
      {{#if @root.optgroup }}</optgroup>{{/if}}
      {{#if this.optgroup }}
        <optgroup label="{{ jq_translate "optgroup" this.optgroup }}">
        {{ optgroup_set this.optgroup }}
      {{/if}}
    {{/if}}
    <option value="{{ this.type }}" {{#if this.icon}}data-icon="{{ this.icon}}"{{/if}}>{{ jq_translate "operators" this.type }}</option>
  {{/each}}
  {{#if @root.optgroup }}</optgroup>{{/if}}
</select>
